#body_wrap {
  margin: auto;
  padding: 0;
  width: 900px;
}

.header {
  margin: 40px 0;
}

.header__title {
  font-family: "Permanent Marker";
  font-size: 54px;
  margin: 20px 0;
  text-align: center;
}

#icons {
  margin-bottom: 1.5em;
  text-align: center;
}

#icons li {
  display: inline-block;
  margin: 0;
}

.icon {
  font-size: 32px;
  margin: 0 5px;
}

.icon:hover {
  color: #333;
  cursor: pointer;
}

.subtitle {
  margin: 20px 0;
}

.inline {
  color: inherit;
  text-decoration: none;
}

.inline:hover {
  border-bottom: 2px solid #505050;
  color: #333;
}

.tag {
  color: #888;
}

.project {
  border-bottom: #E0E0E0 solid 1px;
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}

.project:first-child {
  padding-top: 0;
}

.project__image {
  border: #E0E0E0 solid 1px;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 350px;
}

.image:hover {
  background-color: rgba(1,1,1,0.5);
  z-index: -1;
}

.project img {
  height: auto;
  width: inherit;
}

.project__content {
  box-sizing: border-box;
  padding: 0 15px;
  width: 550px;
}

.project__title {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.project__description {
  font-family: "Open Sans";
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.project__link {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 20px;
  margin: 15px 0;
}

.project__linkIcon {
  margin-right: 5px;
}

.footer {
  background: #242729;
  padding: 50px 0;
}

.footer__wrap {
  margin: auto;

  width: 900px;
}

.footer__title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.footer__line {
  color: #5e666e;
  font-size: 16px;
}

.footer__icon {
  padding-right: 10px;
}
