/*
  SPECIFIC STYLING
*/

#github:hover {
  color: #F34F29;
}

#codepen:hover{
  color: #9F52D5;
}

#stackexchange:hover{
  color: #F48024;
}

#twitter:hover{
  color: #55ACEE;
}

#linkedin:hover{
  color: #007BB6;
}

#email:hover{
  color: #DC4638
}

/*
  MEDIA QUERIES
*/

@media (max-width: 920px) {
  #body_wrap, .footer__wrap {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 500px;
  }

  .project {
    flex-direction: column;
    margin: auto;
    width: inherit;
  }

  .project__image, .project__content {
    width: 100%;
  }

  .project__image > img {
    height: 100%;
    width: 100%;
  }

  .project__content {
    padding: 5px 0;
  }

  .footer__wrap {
    text-align: center;
  }

  .footer__title, .footer__line {
    font-size: 20px;
  }
}


@media (max-width: 520px) {
  #body_wrap, .footer__wrap {
    width: 350px;
  }

  .project__title {
    font-size: 22px;
  }

  .project__link {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #body_wrap, .footer__wrap {
    padding: 0 15px;
    width: 100%;
  }
}
